img {width: 100%;
    margin-top: 0px;
    background-color: pink;
    border-radius: 8px; }

body {background-image: 
    url(https://media.istockphoto.com/id/949848900/es/vector/patr%C3%B3n-sin-fisuras-con-lindos-corazones-de-rosas-peque%C3%B1as.jpg?s=612x612&w=0&k=20&c=mxDkj-XSxduhu7ixYAmCJS354Hk4bfXWduU__ORQumw=); 
}

div h1 {position: flex;    
    text-align: center;
    color: white;
    text-shadow: 3.5px 0 black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 500%;
    background-color: hotpink;
    border-radius: 20px;
    font-family: italianno, cursive;
    border-left-width: 0px;
    width: 10 20px;
    border-right-width: 50px;
}

hr {width: 100%;
    border-style: none;
    border-radius: 0;
    border-top-style: dotted;
    border-width: 8px;
    border-color: hotpink;}

h1  {text-align: center;
    margin-top: 5px ;
    margin-left: 4px;
    margin: 4px;
    font-size: x-large;
    
}

p    
{
    font-size: 25px;
    text-align: justify;
    text-indent: 30px;
    margin: 10.5px;
}

li {font-size: xx-large;
    font-weight: bolder;}

li img {width: 100%;
        margin: 0;
        align-items: center; 
    }


.final {text-align: center;
                margin: 15px;
            text-indent: 0;}

a {color: hotpink; }