body {background-color:rgb(95, 162, 228);}
h1{
    color: orange; 
    border: 2px solid white;
    font-family:monospace;
    text-shadow: 2px 0px red ;
    margin: 20px;
    padding: 20px;
text-align: center;

}


h2 {text-align: center;
color:white;}
ul {color: white;}
p {text-align: justify;}

.papu {
    text-align: justify; 
    color: red;
}

